h1 {
  font-family: 'Galada', cursive;
  color: #C40D22;
  font-size: 48pt;
}

h2{
  font-family: 'Galada', cursive;
  color: #E5001B;
  font-size: 36;
}

a:link {
  color: #615556;
}

a:hover {
  color: #824E54;
}

nav {
  font-family: 'Pragati Narrow', sans-serif;
  /* border:1px
  solid black; */
  color: : #615556;
  text-align: right;
  font-size: 22px;
  }

/* .pic1 {
  border:1px
  solid black;
} */

p{
    font-family: 'Pragati Narrow', sans-serif;
}
.blurb {
  font-family: 'Pragati Narrow', sans-serif;
/*  border:1px
  solid black; */
  text-align: center;
}

footer{
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 12px;
  text-align: center;
}
